<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{index :: head}"></head>
  <body>
    <!-- Navbar -->
    <nav th:replace="~{index :: navbar}"></nav>

    <!-- Main -->
    <main class="container py-5">
      <div class="mb-5 text-center">
        <h1 class="display-4 text-primary fw-bold">Dettagli articolo</h1>
        <h2 class="h5 text-secondary mt-3" th:text="${article.title}">
          Titolo
        </h2>
      </div>

      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 d-flex flex-column">
            <div id="carouselDetailArticle" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    th:if="${article.image != null}"
                    th:src="${article.image.path}"
                    class="card-img-top"
                    alt="..."
                  />
                  <img
                    th:unless="${article.image != null}"
                    th:src="@{/images/default.jpeg}"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselDetailArticle"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselDetailArticle"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="text-center">
              <h2 th:text="${article.subtitle}">Sottotitolo</h2>
            </div>

            <p class="fs-5" th:if="${article.category != null}">
              Categoria:
              <a
                th:href="@{/categories/search/{id}(id=${article.category.id})}"
                class="text-capitalize fw-bold text-muted"
                th:text="${article.category.name}"
                >categoria</a
              >
            </p>

            <p class="fs-5" th:if="${article.category == null}">
              Nessuna categoria
            </p>

            <!-- Data e autore -->
            <div
              class="text-muted my-3 d-flex flex-wrap align-items-center gap-3"
            >
              <p class="mb-0">
                Redatto il
                <span th:text="${article.publishDate}">data</span>
              </p>
              <p class="mb-0">
                Autore:
                <a href="">
                  <span th:text="${article.user.username}">User</span>
                </a>
              </p>
            </div>
          </div>
        </div>

        <hr />
        <p th:text="${article.body}"></p>

        <!-- Torna indietro -->
        <div class="text-center mt-4">
          <a href="#" class="text-secondary pointer" onclick="goBack()"
            >Torna indietro</a
          >
        </div>

        <div class="d-flex justify-content-between">
          <form
            th:action="@{/articles/accept(action='accept', articleId=${article.id})}"
            method="post"
          >
            <button type="submit" class="btn btn-success m-2">Accetta</button>
          </form>
          <form
            th:action="@{/articles/accept(action='reject', articleId=${article.id})}"
            method="post"
            th:object="${article}"
          >
            <button type="submit" class="btn btn-danger m-2">Rifiuta</button>
          </form>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer th:replace="~{index :: footer}"></footer>

    <!-- Scripts -->
    <script th:replace="~{index :: script}"></script>
    <script th:replace="~{index :: customScript}"></script>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
