:root {
  --color-white: #f8f9fa;
  --color-crema: #fdf6e3;
  --color-blue: #3b82f6;
  --color-text: #1f2937;
  --color-blue-hover: #2563eb;
  --color-shadow: #104e8b;
  --shadow-hover: 0 4px 12px rgba(16, 78, 139, 0.5);
  --transition-fast: 0.2s ease-in-out;
}
/* Sfondo */
body {
  background-image: url("/img/bg_crepe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  color: var(--color-text);
}
main {
  min-height: 80vh;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: -1;
}
.white {
  color: var(--color-white) !important;
}
.bg-custom-primary {
  background-color: var(--color-blue);
  color: var(--color-white) !important;
}
.bg-custom-secondary {
  background-color: var(--color-crema);
  /* color: var(--color-white) !important; */
}
.bg-custom-base {
  background-color: var(--color-white);
}

/* Testi */
.text-custom-primary {
  color: var(--color-blue);
}
.text-custom-base {
  color: var(--color-white);
}
.text-main {
  color: var(--color-text);
}

/* Bottoni */
.btn-custom-primary {
  /* @apply px-4 py-2 rounded font-semibold transition; */
  background-color: var(--color-blue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-custom-primary:hover {
  background-color: var(--color-blue-hover);
}

/* Bordo */
.border-custom-primary {
  border-color: var(--color-blue);
}

/* Hover */
.hover\:bg-custom-primary:hover {
  background-color: var(--color-blue);
}
.hover\:text-custom-base:hover {
  color: var(--color-white);
}
/* link */
.link-custom {
  transition: box-shadow var(--transition-fast),
    transform var(--transition-fast);
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.link-custom-mobile {
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  display: block;
}

.link-custom:hover {
  box-shadow: var(--shadow-hover);
  transform: translateY(-1px);
}
.table-dark {
  --bs-table-bg: var(--color-blue);
}
