<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{index :: head}"></head>
  <body>
    <nav th:replace="~{index :: navbar}"></nav>

    <!-- messaggi -->
    <div th:if="${param.notAuthorized}">Not authorized</div>
    <main>
      <div class="alert alert-success" role="alert" th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
      </div>
      <div class="mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mt-10">
          Benvenuto su La Cronaca
        </h1>
        <p class="text-center mt-4">
          Il tuo portale per le ultime notizie e articoli.
        </p>
      </div>
    </main>

    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
    <script th:replace="~{index :: customScript}"></script>
  </body>
</html>
