<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{index :: head}"></head>
  <body>
    <nav th:replace="~{index :: navbar}"></nav>

    <!-- messaggi -->
    <div th:if="${param.notAuthorized}">Not authorized</div>

    <main>
      <div class="alert alert-success" role="alert" th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
      </div>

      <div class="mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mt-10">
          Benvenuto su La Cronaca
        </h1>
        <p class="text-center mt-4">
          Il tuo portale per le ultime notizie e articoli.
        </p>
      </div>

      <!-- 📰 SEZIONE ARTICOLI -->
      <div class="container" th:if="${articles.size() > 0}">
        <div class="row justify-content-center">
          <div class="col-10 mb-5">
            <h1 class="text-center">Gli ultimi articoli</h1>
          </div>
        </div>

        <div class="row mb-5">
          <div
            th:each="article : ${articles}"
            class="col-12 col-md-4 d-flex justify-content-center"
          >
            <div class="card mb-3" style="width: 18rem">
              <img
                th:if="${article.image != null}"
                th:src="@{${article.image.path}}"
                class="card-img-top"
                alt="immsgine articolo"
              />
              <img
                th:unless="${article.image != null}"
                th:src="@{/images/default.jpeg}"
                class="card-img-top"
                alt="immsgine articolo"
              />

              <div class="card-body">
                <h5 class="card-title" th:text="${article.title}"></h5>
                <p class="card-text" th:text="${article.subtitle}"></p>
                <p class="card-text" th:text="${article.user.username}"></p>
                <a
                  th:href="@{/articles/detail/{id}(id=${article.id})}"
                  class="btn btn-primary"
                  >Leggi</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
    <script th:replace="~{index :: customScript}"></script>
  </body>
</html>
